<html>
<head>
  <!-- $Id: dump.tmpl 17 2008-04-10 05:50:57Z jheddings $ -->
  <title><?= $tmpl["song"]->title ?></title>
</head>

<body>
  <pre><? var_dump($tmpl["song"]->chords); ?></pre>
</body>
</html>
